
<%= render 'shared/links' %> 

<% if (@pdr_list.count == 0) %>
  <p> Catalogo PDR vuoto! </p>
<% else %>
<%= link_to 'Crea PDR', new_pdr_path %>
<hr/>
 
 <div class = "wrapperTable">
 <div class = "wrapperHeader"> </div>
 <div class = "wrapperHeaderGold"> </div>
  <div class = "wrapperData"> 
	<table class="table" cellspacing="2">
		<thead>
 		<tr class="pdrtr">
 			<th class="pdrth" colspan="3">
 				<div class = "header"></div>
 			</th>
 			<th class="pdrth">
 				<div class = "header">Processo</div>
 			</th>
 			<th class="pdrth">
 				<div class = "header">PdrKey</div>
 			</th>
 			<th class="pdrth">
 				<div class = "header">Descrizione</div>
 			</th>
 			<th class="pdrth">
 				<div class = "header">CRM</div>
 			</th>
 			<th class="pdrth">
 				<div class = "header">DWH</div>
 			</th>
 			<th class="pdrth">
 				<div class = "header">PdrTime</div>
 </th>
 			<th class="pdrth">	<div class = "header">ServerID</div>
 </th>
 			<th class="pdrth">	<div class = "header">PdrType</div>
 </th>
 			<th class="pdrth">	<div class = "header">PdrString1</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString2</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString3</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString4</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString5</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString6</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString7</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString8</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString9</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString10</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString11</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString12</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString13</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString14</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString15</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString16</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString17</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString18</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString19</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString20</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString21</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString22</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString23</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString24</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString25</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString26</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString27</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString28</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString29</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString30</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString31</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString32</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString33</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString34</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString35</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString36</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString37</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString38</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString39</div>
  </th>
 			<th class="pdrth">	<div class = "header">PdrString40</div>
  </th>
 			</tr>
 			<tr class="pdrtr">
  			<th class="pdrth" colspan="3">
 				<div class = "header"></div>
 			</th>
				
 			<th class="pdrthgolds">	<div class = "header"> </div>
 </th>
 			<th class="pdrthgolds">	<div class = "header"> </div>
 </th>
 			<th class="pdrthgolds">	<div class = "header"> </div>
 </th>
 			<th class="pdrthgolds">	<div class = "header"> </div>
 </th>
 			<th class="pdrthgolds">	<div class = "header"> </div>
 </th>
 			<th class="pdrthgold">	<div class = "header"> - </div>
 </th>
 			<th class="pdrthgold">	<div class = "header"> - </div>
 </th>
 			<th class="pdrthgold">	<div class = "header">ProcessId</div>
 </th>
 			<th class="pdrthgold">	<div class = "header">Functional Block </div>
 </th>
 			<th class="pdrthgold">	<div class = "header">PdrID</div>
 </th>
 			<th class="pdrthgold">	<div class = "header">CustomerID</div>
  </th>
 			<th class="pdrthgold">	<div class = "header">SubsbscriberID</div>
 </th>
 			<th class="pdrthgold">	<div class = "header">MSISDN</div>
 </th>
 			<th class="pdrthgold">	<div class = "header">BusinessID</div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Business Result Code</div>
  </th>
 			<th class="pdrthgold">	<div class = "header">TSE UUID </div>
 </th>
 			<th class="pdrthgold">	<div class = "header">DS Ticket Ref</div>
 </th>
 			<th class="pdrthgold">	<div class = "header">TSE Result Code Description </div>
 </th>
 			<th class="pdrthgold">	<div class = "header">Notification Result Code </div>
 </th>
 			<th class="pdrthgold">	<div class = "header">UserID</div>
  </th>
 			<th class="pdrthgold">	<div class = "header">IP Caller </div>
 </th>
 			<th class="pdrthgold">	<div class = "header">Channel</div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
 </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 			<th class="pdrthgold">	<div class = "header">Pdr specific </div>
  </th>
 
 		</tr>	
 		</thead>
		<tbody>
  <% counter = 0
     @pdr_list.each do |pdr|
       counter += 1
   %>
    <tr class="<%= (counter % 2) == 0 ? "even" : "odd"%>">
      <td style="max-width: 20px"><%= link_to image_tag("document.png", :alt =>  "vedi dettaglio"), pdr_path(pdr) %> </td>
      <td style="max-width: 20px"><%= link_to image_tag("edit.png", :alt =>  "modifica"), edit_pdr_path(pdr) %> </td>
      <td style="max-width: 20px"><%= link_to( image_tag("delete.png", :alt =>  "rimuovi"), [pdr], :confirm => 'Sei sicuro?', :method => :delete ) %> </td>
 
      <td class="pdrtbgold"><%= pdr.mvno_proc.name %></td>
      <td class="pdrtbgold"><%= pdr.get_pdr_key %></td>
      <td class="pdrtbgold"><%= pdr.description %></td>
      <td class="pdrtbgold"><%= pdr.crm_flag=="1" ? "SI" : "NO" %> </td>
      <td class="pdrtbgold"><%= pdr.dwh_flag=="1" ? "SI" : "NO" %> </td>
      <td>PdrTime</td>
      <td>&nbsp;</td>
      <td><%= "%02d" % pdr.mvno_proc.pdrtype.to_s %></td>
      <td><%= pdr.pdrstring1 %> </td>
      <td><%= pdr.pdrstring2 %> </td>
      <td><%= pdr.pdrstring3 %> </td>
      <td><%= pdr.pdrstring4 %> </td>
      <td><%= pdr.pdrstring5 %> </td>
      <td><%= pdr.pdrstring6 %> </td>
      <td><%= simple_format(pdr.pdrstring7) %> </td>
      <td><%= pdr.pdrstring8 %> </td>
      <td><%= pdr.pdrstring9 %> </td>
      <td><%= pdr.pdrstring10 %> </td>
      <td><%= pdr.pdrstring11 %> </td>
      <td><%= pdr.pdrstring12 %> </td>
      <td><%= pdr.pdrstring13 %> </td>
      <td><%= pdr.pdrstring14 %> </td>
      <td><%= pdr.pdrstring15 %> </td>
      <td><%= pdr.pdrstring16 %> </td>
      <td><%= pdr.pdrstring17 %> </td>
      <td><%= pdr.pdrstring18 %> </td>
      <td><%= pdr.pdrstring19 %> </td>
      <td><%= pdr.pdrstring20 %> </td>
      <td><%= pdr.pdrstring21 %> </td>
      <td><%= pdr.pdrstring22 %> </td>
      <td><%= pdr.pdrstring23 %> </td>
      <td><%= pdr.pdrstring24 %> </td>
      <td><%= pdr.pdrstring25 %> </td>
      <td><%= pdr.pdrstring26 %> </td>
      <td><%= pdr.pdrstring27 %> </td>
      <td><%= pdr.pdrstring28 %> </td>
      <td><%= pdr.pdrstring29 %> </td>
      <td><%= pdr.pdrstring30 %> </td>
      <td><%= pdr.pdrstring31 %> </td>
      <td><%= pdr.pdrstring32 %> </td>
      <td><%= pdr.pdrstring33 %> </td>
      <td><%= pdr.pdrstring34 %> </td>
      <td><%= pdr.pdrstring35 %> </td>
      <td><%= pdr.pdrstring36 %> </td>
      <td><%= pdr.pdrstring37 %> </td>
      <td><%= pdr.pdrstring38 %> </td>
      <td><%= pdr.pdrstring39 %> </td>
      <td><%= pdr.pdrstring40 %> </td>
      <td style="max-width: 20px"><%= link_to image_tag("document.png", :alt =>  "vedi dettaglio"), pdr_path(pdr) %> </td>
      <td style="max-width: 20px"><%= link_to image_tag("edit.png", :alt =>  "modifica"), edit_pdr_path(pdr) %> </td>
      <td style="max-width: 20px"><%= link_to( image_tag("delete.png", :alt =>  "rimuovi"), [pdr], :confirm => 'Sei sicuro?', :method => :delete ) %> </td>
    
     </tr>
  <% end # loop on pdrs %>
	</tbody>
    </table>
  </div>
</div>
<% end %>
<hr/>
<br>
<%= link_to 'Crea PDR', new_pdr_path %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'pdrcatalog', :plugin => 'pdrcatalog' %>
<% end %>
