
<%= render 'shared/links' %>

<% if (@pdr_list.count == 0) %>
  <p> Catalogo PDR vuoto! </p>
<% else %>
<div class="wrapperTable">
<div class="simpleWrapperHeader"></div>
 <div class = "wrapperData">
   <table class="table">
    <tr>
      <th class="pdrth"><div class="simpleheader">PdrKey</div></th>
      <th class="pdrth"><div class="simpleheader">Descrizione</div></th>
      <th class="pdrth"><div class="simpleheader">PdrType</div></th>
      <th class="pdrth"><div class="simpleheader">KeyId</div></th>
      <th class="pdrth"><div class="simpleheader">TimeStp</div></th>
      <th class="pdrth"><div class="simpleheader">CustomerId</div></th>
      <th class="pdrth"><div class="simpleheader">SubscriberID</div></th>
      <th class="pdrth"><div class="simpleheader">MSISDN</div></th>
      <th class="pdrth"><div class="simpleheader">BusinessId</div></th>
      <th class="pdrth"><div class="simpleheader">BusinessResultCode</div></th>
      <th class="pdrth"><div class="simpleheader">TSEUUI</div></th>
      <th class="pdrth"><div class="simpleheader">PdrString11 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString12 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString13 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString14 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString15 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString16 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString17 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString18 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString19 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString20 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString21 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString22 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString23 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString24 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString25 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString26 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString27 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString28 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString29 </div></th>
      <th class="pdrth"><div class="simpleheader">PdrString30 </div></th>
    </tr>
  <% counter = 0
     @pdr_list.each do |pdr|
       counter += 1
   %>
    <tr class="<%= (counter % 2) == 0 ? "even" : "odd"%>">
      <td><%= pdr.get_pdr_key %></td>
      <td><%= pdr.description %></td>
      <td><%= "%02d" % pdr.mvno_proc.pdrtype.to_s %></td>
      <td><%= pdr.get_pdr_key %></td>
      <td>PdrTime (YYYYMMDDHHmmss.xxx)</td>
      <td>[CM_SubsbscriberInfo][CustomerID]</td>
      <td>[9060_SubsId]</td>
      <td>MSISDN</td>
      <td>=TO BE DEFINED=</td>
      <td><%= simple_format(pdr.get_ret_codes_list) %> </td>
      <td><%= pdr.pdrstring8 %> </td>
      <td><%= pdr.pdrstring9 %> </td>
      <td><%= pdr.pdrstring15 %> </td>
      <td><%= pdr.pdrstring16 %> </td>
      <td><%= pdr.pdrstring17 %> </td>
      <td><%= pdr.pdrstring18 %> </td>
      <td><%= pdr.pdrstring19 %> </td>
      <td><%= pdr.pdrstring20 %> </td>
      <td><%= pdr.pdrstring21 %> </td>
      <td><%= pdr.pdrstring22 %> </td>
      <td><%= pdr.pdrstring23 %> </td>
      <td><%= pdr.pdrstring24 %> </td>
      <td><%= pdr.pdrstring25 %> </td>
      <td><%= pdr.pdrstring26 %> </td>
      <td><%= pdr.pdrstring27 %> </td>
      <td><%= pdr.pdrstring28 %> </td>
      <td><%= pdr.pdrstring29 %> </td>
      <td><%= pdr.pdrstring30 %> </td>
      <td><%= pdr.pdrstring31 %> </td>
      <td><%= pdr.pdrstring32 %> </td>
      <td><%= pdr.pdrstring33 %> </td>
    
     </tr>
  <% end # loop on pdrs %>
  </table>
</div>  <!-- end of wrapperData -->
</div>  <!-- end of wrapperTable --> 
<% end %>


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'pdrcatalog', :plugin => 'pdrcatalog' %>
<% end %>
